
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: blueviolet;
    border-radius: 10px;
    height: 1%;
  }
  @keyframes animatedBackground {
    from {
    background-position: 0% 0%;
    }
    to {
    background-position: 100% 100%;
    }
  }
.sidebar{
    background-color: blueviolet;
    background-image: url(../assets/img/bg-uneddited.png);
    background-position: 0 0%;
    background-repeat: repeat-x;
    animation: animatedBackground 30s linear infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    min-width: 40px;
}
.sidebar-label{
    height: 30px;
    color: aliceblue;
    font-weight: bold;
}
.sidebar-picture{
 margin-top: -5%;
}
.uploadpic{
margin-top: 3vh;
width: 70%;
aspect-ratio: 1;
border: solid aliceblue;
border-radius: 50%;
background-color: aliceblue;
}
.listed-items{
    color: aliceblue;
    background-color: transparent;
    display: block;
    list-style-type: none;
    transition: .5s;
}
.listed-items:hover{
    background-color: white;
    color: blueviolet;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.logout {
    display: block;
    width: 100%;
    background-color: transparent;
    color: aliceblue;
    border: none;
    transition: 0.2ms;
}
.logout:hover{
    background-color: aliceblue;
    color: blueviolet;
}
.logout:active{
    border-radius: 10px;
}
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    color: black;
    font-size: 30px;
    border-bottom: solid blueviolet;
    height: 7vh;
    z-index: 100;
}
.page-label{
    height: 5vh;
    margin-left: 5vw;
    font-weight: 900;
}
.toprightbox{
    height: 10px;
    width: 150px;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    right: 2vw;
    z-index: 2;
    background-color: transparent;
    margin-top: 1vh;
    color: blueviolet;
}

.datetimeview{
    font-family: sans-serif;
    font-size: 15px;
    color: blueviolet;
}