body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbgh{
    background-color: transparent;
}
.navbgh:hover{
    background-color: blueviolet;
    opacity: .9;
}
.navbg{
    background-color: blueviolet;
    opacity: .3; 
    width: 100vw; 
    height: 9vh; 
    position: absolute;
}


.hero-text-area{
    height: 50vh;
}

.hero-text {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    z-index: -1;
    top:30vh;
    margin-left: 3vw;
}
.title{
    font-weight: 900;
    font-family: roboto;
    font-size: calc(3vw + 4vh);
    color: white;
}
.subs{
    font-family: roboto;
    font-weight: 900;
    font-size: calc(2.5vh + 3vw);
    color: rgb(43, 189, 226);
}
.img-area{
    height: 100%;
}
.img1{
    border: blueviolet solid;
    border-radius: 25px;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 10vh;
    left: 10vw;
    transition: .5s;
    opacity: .5;
    animation: rotate2 40s linear infinite;
}
.img1:hover{
    border: blueviolet solid;
    border-radius: 25px;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 10vh;
    left: 10vw;
    opacity: 1;
    z-index: 5;
}
.smimg1
{
    border: blueviolet solid;
    border-radius: 25px;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 0vh;
    left: 2vw;
    transition: .5s;
    opacity: 1;
    animation: rotate2 40s linear infinite;
}
.img2{
    width: 40%;
    border: solid blueviolet;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    right: 5vw;
    top: 48vh;
    opacity: .5;
    animation: rotate2 20s linear infinite;
}
.img2:hover{
    width: 40%;
    border: solid blueviolet;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    right: 5vw;
    top: 48vh;
    opacity: 1;
    
}
.smimg2{
    width: 55%;
    border: solid blueviolet;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    opacity: .9;
    animation: rotate2 20s linear infinite;
}

.img3{
    width: 20%;
    border: solid blueviolet;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    right: 1vw;
    top: 65vh;
    opacity: .9;
}

@keyframes rotate2 {
    0% {
        transform: translateY(-10px) translateX(10px);
        
    }
    25%{
        transform: translateY(10px) translateX(-10px) ;
    }
    50% {
        transform: translateY(-10px) translateX(10px) ;
    }
    75%{
        transform: translatey(10px) translateX(-10px) ;
        
    }
    100% {
        transform: translateY(-10px) translateX(10px);
        
    }
}