body{
    /* background: rgb(73,45,107);
    background: radial-gradient(circle, rgba(73,45,107,1) 0%, rgba(36,23,84,1) 12%, rgba(35,22,82,1) 31%, rgba(11,12,47,1) 55%, rgba(11,12,46,1) 74%, rgba(13,9,40,1) 82%, rgba(14,7,34,1) 91%, rgba(0,0,0,1) 98%); */
    background-image:  linear-gradient(to bottom right, rgb(20, 6, 70),rgb(47, 11, 88),rgb(14, 27, 82));
    font-family: 'Montserrat';
    overflow-x: hidden;
    height: 100svh;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    height: 10%;
  }
  .modal{
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
  }
  .modal-header{
    background-color: rgb(165, 13, 235);
  }
  *{
    box-sizing: border-box;
  }
  
  .bg-animation{
    position: absolute;
    width: 100svw;
    z-index: -10;
}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: normal;
    user-select: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 0;
    background: none;
    border: none;
  }
  
  main{
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    width: 100%;
  }
  
  canvas{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .plate{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: #6bdddd;
    letter-spacing: 4px;
    font-size: 0.6em;
    line-height: 2.5;
  }
  
  /* ---------------------------------------------------------------------------------------------------------------- */
.heropage{
    width: 100svw;
    height: 100svh;
}

.title{
    font-weight: 900;
    font-family: roboto;
    font-size: calc(3vw + 4vh);
    color: white;
}
.subs{   
    font-family: roboto;
    font-weight: 900;
    font-size: calc(2.5vh + 3vw);
    color: rgb(0, 204, 255);
}
.relative{
    position: relative;
    height: 10px;
    z-index: -5;
}
.abolute{
    position: absolute;
    z-index: -7;
}
.blink{
    font-weight: 900;
    font-family: roboto;
    font-size: calc(3vw + 4vh);
    color: white;
    animation: blink .5s infinite linear;
}
.changing-text,.blink{
    display: inline;
}
@keyframes blink{
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.hero-img{
    position: absolute;
    z-index: -8;
}
.hero-img1{
    border-radius: 5px;
    width: 80%;
    opacity: .8;
    margin-top: 5%;
    margin-left: 15%;
}
.hero-img2{
    border-radius: 5px;
    width: 80%;
    opacity: .8;
    margin-top: -10%;
    margin-left: 20%;
}
.call-to-action{
    margin-top: 23%;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}
.c2a1{
    width: 30%;
    background-color: #4eb9ff;
}

  /* ---------------------------------------------------------------------------------------------------------------- */

.features-page{
    width: 100svw;
    height: 100svh;
}