@media (orientation: landscape){
    .navbgh{
        background-color: transparent;
    }
    .navbgh:hover{
        background-color: blueviolet;
        opacity: .9;
    }
    .navbg{
        background-color: blueviolet;
        opacity: .3; 
        width: 100vw; 
        height: 9vh; 
        position: absolute;
    }

    .navbar {
        background-color: transparent;
    }

    .logo,.logo-icon{
        height: 3vw;
        min-height: 5vh;
        margin-left: 1vw;
    }
    
    .navbar-nav{
        height: 100%;
        text-align: center;
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    .loginprompt{
        margin-right: 1vw;
    }
    .loginprompt button{
        height: 6vh;
        width: 6vw;
        background-color: white;
        color: blueviolet;
        border: none;
        margin-left: auto;
        margin-right: auto;
        transition: .2s;
    }
    .loginprompt button:hover{
        border: white solid;
        border-radius: 5px;
        height: 6vh;
        width: 6vw;
        background-color: rgb(186, 137, 233);
        color: white;
        border: none;
        margin-left: auto;
        margin-right: auto;
    }
    .navitem,.loginprompt{
        font-size: max(1vw,2.5vh);
    }
    .navitem{
        height: 6vh;
        margin-top: 1vh;
        height: 100%;
        color: white;
        text-decoration: none;
        display: block;
        width: 10vw;
        background-color: transparent;
        transition: .2s;
    }
    .list-button{
        width: 100%;
        height: 10vh;
        border: none;
        border-radius: 5px;
        color: blueviolet;
    }
    .navitem:hover{
        border-radius: 5px;
        background-color: white;
        color: blueviolet;
    }
    .modal-dialog{
        background-color: blueviolet;
    }

}
@media (orientation: portrait){
    .navbar{
        background-color: blueviolet;
    }

    .logo,.logo-icon{
        height: 3vw;
        min-height: 5vh;
        margin-left: 1vw;
    }
    
    .navbar-nav{
        text-align: center;
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    .loginprompt{
        margin-right: 1vw;
    }
    .loginprompt button{
        height: 6vh;
        width: 7vw;
        background-color: white;
        color: blueviolet;
        border: none;
        margin-left: auto;
        margin-right: auto;
    }
    .navitem,.loginprompt{
        font-size: max(1vw,2.5vh);
    }
    .navitem{
        margin-top: 1vh;
        height: 8vh;
        color: white;
        text-decoration: none;
        display: block;
        width: 100%;
        background-color: transparent;
    }
    .list-button{
        width: 100%;
        height: 10vh;
        border: none;
        border-radius: 5px;
        color: blueviolet;
    }
    
    .navitem:hover{
        background-color: white;
        color: blueviolet;
    }
    .modal-dialog{
        background-color: blueviolet;
    }
    
    .list-button:hover{
        color: white;
        border: solid white;
        border-radius: 5px;
        background-color: blueviolet;
    }
}

