/* button{
    border: 2px solid #ab51ff;
    background-color: transparent;
    border-radius: 5px;
    transition: .2s;
}

button:hover {
    border: 2px solid #ab51ff;
    background-color: #ab51ff;
    color: white;
    border-radius: 5px;
} */


.home-menu-container {
    border: solid blueviolet;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 40svh;
    margin-bottom: 2vh;
}

.home-menu {
    display: flex;
    vertical-align: baseline;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    position: sticky;
    top:6vh;
    background-color: white;
    transition: 0.3s;
}

.hm-btn-on {
    width: 55%;
    height: 5vh;
    border: blueviolet solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    border-bottom: none;
    font-family: Roboto;
    transition: 0.3s;
    
}
.hm-btn-off {
    width: 45%;
    height: 5vh;
    border: blueviolet solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(../../assets/img/bg-uneddited.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 20s linear infinite reverse;
    color: white;
    font-family: Roboto;
    transition: 0.3s;
}

.active-info-tab{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    overflow: scroll;
    height: 100%;
}