

.home-menu-container {
    border: solid blueviolet;
    border-top: none;
    border-bottom: none;
    min-height: 72vh;
    height: 50%;
    
}

.home-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    position: sticky;
    top:6vh;
    background-color: white;
}


.hm-btn-on {
    width: 55%;
    height: 5vh;
    border: blueviolet solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    border-bottom: none;
}
.hm-btn-off {
    width: 45%;
    height: 5vh;
    border: blueviolet solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: blueviolet;
    color: white;
}

.active-info-tab{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.greetings{
    margin-top: 2vh;
}
#greetings,#hello2{
    font-size: 3vh;
    font-weight: 500;
}
.start-task{
    border: solid blueviolet;
    border-radius: 5px;
    margin-top: 7vh;
    width: 70%;
    margin-left: 1vw;
    font-size: 1vw;
    color: white;
    background-color: blueviolet;
    transition: .2s;
}
.start-task:hover{
    border: solid blueviolet;
    color: blueviolet;
    background-color: white;
}
.start-task:active{
    color: white;
    background-color: blueviolet;
}
.tab-img{
    margin-top: 5vh;
    width: 100%;
}
.data-show{
    border: none;
    border: solid rgb(209, 175, 240);
    border-radius: 10px;
}
.data-show-label{
    color: blueviolet;
}
.data-show-value{
    border: none;
}

.data-show-text{
    
    font-size: clamp(2vh, 1.5vw, 1.5vw);
    overflow: hidden;
}
.timer-item-tab{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.task-add{
    border: solid black;
    border-radius: 20px;
    color: black;
    overflow: hidden;
}
.add-taskbutton{
    overflow: hidden;
}
.add-item-label{
    background-color: blueviolet;
    width: 100%;
    border-bottom: solid black;

}
.add-task{
    width: 85%;
    border: solid black;
    border-radius: 15px;
    transition: .2s;
}
.add-task:hover{
    color: blueviolet;
    width: 90%;
    border: solid black;
}
.add-task:active{
    color: black;
    background-color: blueviolet;
}

.button-label{
    display: inline;
}
.timer-a-container {
    margin-top: 3vh;
    width: 100%;
    border: solid black;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    text-decoration: none;
    
}

.timer-top {
    color: black;
    width: 103%;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    min-height: 35px;
    background-color: blueviolet;
    border-bottom: solid black;
}

.timer-details{
color: black;
display: block;
word-wrap: none;
height: 100%;
margin-top: 3vh;
margin-bottom: 3vh;
}
.timer-details-item{
    border: black;
    min-height: 20vh;
}
.timer-remove{
    color: white;
    margin-right: 3%;
    border: solid blueviolet;
    background-color: transparent;
    transition: .5s;
}
.timer-remove:hover {
    color: blueviolet;
    margin-right: 3%;
    border: solid blueviolet;
    background-color: #fff;
    border-radius: 50px;

}
#calendar{
    font-size: max(1vw,10px);
}
.addtimermodal{
    background-color: blueviolet;
    border: solid black;
    border-radius: 20px;
    overflow: hidden;
}
.modalclose {
    border: none;
    background-color: blueviolet;
    color: #fff;
    border-radius: 30px;
}
.modalclose:hover{
    color: blueviolet;
    background-color: #fff;
}
.atmodalbody {
    background-color: #fff;
}
