.sidebar{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    min-width: 40px;
}
.sidebar-label{
    height: 30px;
    color: aliceblue;
    font-weight: bold;
}
.uploadpic{
margin-top: 3vh;
width: 90%;
height: auto;
border: solid aliceblue;
border-radius: 50%;
background-color: aliceblue;
}
.listed-items{
    color: aliceblue;
    background-color: transparent;
    display: block;
    list-style-type: none;
    transition: .5s;
}
.listed-items:hover{
    background-color: white;
    color: blueviolet;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.logout {
    display: block;
    width: 100%;
    background-color: transparent;
    color: aliceblue;
    border: none;
    transition: 0.2ms;
}
.logout:hover{
    background-color: aliceblue;
    color: blueviolet;
}
.logout:active{
    border-radius: 10px;
}
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    color: black;
    font-size: 30px;
    border-bottom: solid blueviolet;
}
.page-label{
    margin-left: 5vw;
    font-weight: 900;
}
