.data-inputs{
    border: 2px solid #ab51ff;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.button-label{
    width: 100%;
    height: auto;
    margin: auto;
}
.gridmain {
    display: grid;
}
.gridgraph {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3640,1fr);
    grid-template-rows: repeat(15,1fr);
    background-color: aqua;
    grid-column: 1/5;
}
.gridgraphitem{
    border-radius: 4px;
    grid-row: 6/7;
    background-color: rgb(0, 218, 0);
    height: 100%;
}
.graphline {
    grid-row : 2/16;
    border-right: 1px solid black;

}
.graphlinelabel{
    object-fit: cover;
    display: inline-block;
    grid-row: 1/16;
    width: 1px;
}