.data-inputs{
    border: 2px solid #ab51ff;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.button-label{
    width: 100%;
    height: auto;
    margin: auto;
}
