body{
    margin: 0;
    padding: 0;
    background-image: url(../../assets/img/07a5f4057cb0f03d2024.jpg);
    animation: animatedBackground 200s linear infinite alternate;
    background-position: 0px 0px;
    background-repeat: repeat-x;
}

@keyframes animatedBackground {
    0% {
      background-position: 50% 68%;
    }
    25% {
        background-position: 75% 22%;
      }
    25% {
        background-position: 91% 56% ;
      }
    50% {
    background-position:  540% 89%;
    }
    50% {
        background-position:  100% 100%;
        }
    75% {
    background-position: 0 100%;
    }
  }

.bgimg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -99;
}

body::-webkit-scrollbar{
    display: none;
  }

.pipButton{
    border: white solid 3px;
    border-radius: 5px;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    overflow: hidden;
    color: white;
}
.pipButton:hover{
    color: aqua;
    border: 5px solid aqua;
}

.pipButton-icon{
    width: 2.5vw;
    margin: auto;

}

.master-timer{
    font-family: Roboto,sans-serif;
    color: white;
    border: solid white;
    border-radius: 10px;
    height: 41vw;
    min-height: 10vh;
    width: 100%;
    overflow: hidden;

}

.timer-display{
    font-size: max(13vw, 9vh);
    
    
}
.metrics-box{
    font-family: Roboto,sans-serif;
    border: solid white;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    margin-bottom: 0.5vw;
}
.mb-text{
    font-size: max(3vw, 3.5vh);
    
}
.display{
    font-size: max(4vw, 7vh);
}
.button{
    font-family: Roboto,sans-serif;
    font-size: max(2.5vw,2vh);
    width: 90%;
    height: 8vw;
    min-height: 10vh;
    border: solid white;
    color: white;
    background-color: transparent;
    border-radius: 10px;
}

.buttons button:hover {
    color: aqua;
    border: solid aqua;
}
.cons-top{
    background-color: transparent;
    height: 2vh;
}

