body{
    padding:0;
    margin: 0;

}
body::-webkit-scrollbar{
    display: none;
  }

.pipButton{
    border: blueviolet solid 3px;
    border-radius: 5px;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    overflow: hidden;
}
.pipButton-icon:hover{
    width: 2.8vw;
}
.pipButton:hover{
    background-color: white;
}
.pipButton-icon{
    width: 2.5vw;
    margin: auto;

}

.master-timer{
    font-family: Roboto,sans-serif;
    color: black;
    border: solid blueviolet;
    border-radius: 10px;
    height: 41vw;
    min-height: 10gvh;
    width: 100%;
    overflow: hidden;

}

.timer-display{
    font-size: max(13vw, 9vh);
    
    
}
.metrics-box{
    font-family: Roboto,sans-serif;
    border: solid blueviolet;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    margin-bottom: 0.5vw;
}
.mb-text{
    font-size: max(3vw, 3.5vh);
    
}
.display{
    font-size: max(4vw, 7vh);
}
.button{
    font-family: Roboto,sans-serif;
    font-size: max(2.5vw,2vh);
    width: 90%;
    height: 8vw;
    min-height: 10vh;
    border: solid blueviolet;
    color: black;
    background-color: rgb(159, 95, 223);
    border-radius: 10px;
}

.buttons button:hover {
    background-color: blueviolet;
    color: #fff;
}
.cons-top{
    background-color: rgb(159, 95, 223);
    height: 2vh;
}

