.projectlist{
    width: 100%;
    margin-top: 5svh;
    overflow-y: scroll;
    /* height: 100%; */
    max-height: 80svh;
}
.project-btn{
    border-radius: 10px;
    width: 100%;
    border: solid blueviolet;
    color:  blueviolet;
    background-color: white;
}

.accordion-button{
    overflow: hidden;
    background-color: white;
}

.accordion{

    overflow-y: hidden;
}

.accordion-item{
    border: solid blueviolet 2px;
    border-radius: 20px;
    overflow-y: hidden;
}
.accordion-footer{
    width: 150%;
    height: 2svh;
    background-color: blueviolet;
}
.active-user-btn,.pending-user-btn {
    background-color: blueviolet;
    color: white;
    width: 100%;
}

.project-name{

    background-color: blueviolet;
    background-image: url(https://mp-2-task-timer-ixtf.vercel.app/assets/img/bg-uneddited.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 50s linear infinite alternate;
    width: 100%;
    color: white;
}

@keyframes animatedBackground {
    0% {
    background-position: 0% 0%;
    }
    15% {
    background-position: 15% 15%;
    }
    30% {
    background-position: 30% 30%;
    }
    45% {
    background-position: 45% 45%;
    }
    60% {
    background-position: 60% 60%;
    }
    75% {
    background-position: 75% 75%;
    }
    90% {
        background-position: 90% 90%;
    }
    100% {
    background-position: 100% 100%;
    }
}



.stats-box{
    border: solid blueviolet 2px;
    border-radius: 10px;
}

.data-inputs{
    border: 2px solid #ab51ff;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.button-label{
    width: 100%;
    height: auto;
    margin: auto;
}