@media (orientation: landscape) {
    .gridlayout{
        height: 98vh;
        margin-top: 1vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1200,1fr);
        grid-template-rows: repeat(310,1fr);
    }
    
    .bigbox{
        background-color: rgb(152, 255, 255);
        height: 100%;
        grid-row: 1/310;
        grid-column: 10/800;
    }
    .medbox{
        background-color: rgb(152, 255, 255);
        height: 100%;
        grid-row: 1/100;
        grid-column: 810/1190;
    }
    .smbox1{
        background-color: rgb(152, 255, 255);
        height: 100%;
        grid-row: 105/205;
        grid-column: 810/1190;
    }
    .smbox2{
        background-color: rgb(152, 255, 255);
        height: 100%;
        grid-row: 210/310;
        grid-column: 810/1190;
    }
    .bigbox-btn{
        height: 100%;
        grid-row: 180/260;
        grid-column: 20/790;
    }
}
@media (orientation: portrait) {
    .gridlayout{
        height: 99vh;
        margin-top: 1vh;
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(1200,1fr);
        grid-template-columns: repeat(310,1fr);
    }
    
    .bigbox{
        background-color: rgb(152, 255, 255);
        height: 100%;
        grid-row: 1/500;
        grid-column: 10/300;
    }
    .medbox{
        background-color: rgb(152, 255, 255);
        height: 100%;
        grid-row: 510/860;
        grid-column: 10/300;
    }
    .smbox1{
        background-color: rgb(152, 255, 255);
        height: 100%;
        grid-row: 870/1200;
        grid-column: 10/150;
    }
    .smbox2{
        background-color: rgb(152, 255, 255);
        height: 100%;
        grid-row: 870/1200;
        grid-column: 151/300;
    }
    .bigbox-btn{
        height: 100%;
        grid-row: 320/500;
        grid-column: 50/250;
    }
}